* {
    background-color: lightblue;
}
header {
    border: double 20px black;
    background-color: lavenderblush;
    margin: .5in;
    padding: 8px;
    font-size: 120%;
    font-family: impact charcoal sans-serif;
    text-align: center;
}
h1 {
    text-align: center;
    font-size: 30px;
    color: blue;
    background-color: bisque;
    text-decoration: underline overline black;
}
h2 {
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: bisque;
    text-decoration: underline black;
}
body {
    background-color: gray;
    border: solid 6px black;
    margin: 1in;
}
p {
    margin: .2in;
    font-size: 15px;
    text-align: center;
    background-color: blanchedalmond;
    color: black;
    text-decoration: underline overline;
}
img {
    padding: 41.5px;
}
aside {
    font-size: 15px;
    width: 30%;
    float: right;
    font-style: italic;
    background-color: aqua;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
footer {
    text-align: center;
    border: double 15px red;
    background-color: gold;
    margin: .5in;
    padding: 10px;
    font-size: 200%;
    font-family: impact charcoal sans-serif;
}